<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cloud.api.user.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="cn.cloud.api.user.entity.SysUser">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="personid" jdbcType="BIGINT" property="personid" />
    <result column="roleid" jdbcType="INTEGER" property="roleid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="loginname" jdbcType="VARCHAR" property="loginname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updatedate" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="updator" jdbcType="VARCHAR" property="updator" />
    <result column="lastLonginTime" jdbcType="TIMESTAMP" property="lastlongintime" />
    <result column="lastLonginPlace" jdbcType="VARCHAR" property="lastlonginplace" />
  </resultMap>
</mapper>